<div class="row player">
  <div class="small-6 columns player-container">
    <h4 id="soundcloud-credit">Powered by <a href="http://www.soundcloud.com">SoundCloud</a></h4>
    <p id="radio-playing">Radio</p>
    <div id="song-title-container">
      <p id="song-title"></p>
    </div>
    <div id="player-controllers">
      <div class="btn">
         <img id="play-pause-btn" src="/src/play.png" alt="play-pause">
      </div>
      <div class="btn">
        <img id="next-btn" src="/src/fastForward.png" alt="fastforward">
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="row">
      <p class="new-log"><a href="/log_out" id="log_out-button">Log out</a></p>
      <p class="new-log"><a href="#" id="new-radio-button">New Radio</a></p>
    </div>
    <div id="new-radio">
      <form id="new-radio-form" action="/new_radio" method="post">
        <div class="row">
          <div class="small-6 columns">
            <label for="category">Category</label>
            <select name="new_radio[category]" class="fields">
              <option value="genres">Genre</option>
              <option value="atists">Artists</option>
            </select>
          </div>
          <div  class="small-6 columns">
            <label for="name">Radio</label>
            <input type="text" name="new_radio[name]">
          </div>
        </div>
      </form>
    </div>
    <div id="player-list">
      <ol>
      <% count = 0 %>
      <% @user.radios.each do |radio| %>
        <li class="list-element" count="<%= count %>">
          <p class="plylist-element"><a href="#" class="radios" category="<%=radio.category%>" name="<%=radio.name%>"><%= radio.name %></a></p>
          <p class="plylist-element delete-radio delete-radio-<%= count %>"><a href="/delete_radio/<%= radio.id %>">X</a></p>
        </li>
        <% count += 1 %>
      <% end %>
      </ol>
    </div>
  </div>
</div>
