<div class="row player">
  <div class="small-6 columns player-container">
    <h4 id="soundcloud-credit">Powered by <a href="http://www.soundcloud.com">SoundCloud</a></h4>
    <div>
      <p class="radio-timer" id="radio-playing">Radio</p>
      <div class="radio-timer" id="timer">
        <p id="timer-p">00:00</p>
      </div>
    </div>

    <div id="song-title-container">
      <p id="song-title"></p>
    </div>
    <div id="progress-bar-container">
      <div id="progess-bar"></div>
    </div>

    <div id="player-controllers">
      <div class="btn" id="play-pause">
         <img id="play-pause-btn" src="/src/play.png" alt="play-pause">
      </div>
      <div class="btn" id='next-song'>
        <img id="next-btn" src="/src/fastForward.png" alt="fastforward">
      </div>
    </div>
    <div class="row">
      <div id="headsets-logo-container" class="small-4 columns">
        <img src="/src/glowing-headset.png">
      </div>
      <div class="small-4 columns"></div>
      <div class="small-4 columns"></div>
    </div>
  </div>

  <div class="small-6 columns">
    <div class="row">
      <div class="new-log" id="logout-container">
        <a href="/log_out">
          <img id="logout-button" src="/src/logout.png" alt="logout">
        </a>
      </div>
      <div class="new-log" id="new-radio-container">
        <img id="new-radio-button" src="/src/new-radio-1.png" alt="logout">
      </div>
    </div>
    <div id="new-radio">
      <form id="new-radio-form" action="/new_radio" method="post">
        <div class="row">
          <div class="small-6 columns">
            <label for="category">Category</label>
            <select name="new_radio[category]" class="fields">
              <option value="genres">Genre</option>
              <option value="atists">Artists</option>
            </select>
          </div>
          <div  class="small-6 columns">
            <label for="name">Radio</label>
            <input type="text" name="new_radio[name]">
          </div>
        </div>
      </form>
    </div>

    <div id="player-list">
      <ol>
      <% count = 0 %>
      <% @user.radios.each do |radio| %>
        <li class="list-element list-element-<%= count %>" count="<%= count %>">
          <p class="plylist-element"><a href="#" class="radios" category="<%=radio.category%>" name="<%=radio.name%>"><%= radio.name %></a></p>
          <p class="plylist-element delete-radio delete-radio-<%= count %>"><a href="/delete_radio/<%= radio.id %>">X</a></p>
        </li>
        <% count += 1 %>
      <% end %>
      </ol>
    </div>
  </div>
</div>
